<h3>Tarea 2 del M칩dulo 8 del Master Ciberseguridad</h3>
<br>
Programar un componente software que permita:<br>
* Generar un c칩digo QR para a침adir un servicio en las aplicaciones mencionadas anteriormente<br>
* Validar un c칩digo TOTP introducido por el usuario para verificar si es correcto o no para el servicio anterior<br>
