<span id="titulo">Generación de clave y QR</span>

<p><br>

<span><b>Secret Key:</b> <%= data.secret_key %></span><br><br>
<span><b>URL:</b> <%= data.secret.otpauth_url %></span><br><br>

<img src=<%= data.qr %>, style='text-align: center;') />

